@model IEnumerable<WebAccess.ViewModels.Ticket>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript" class="init">
    $(document).ready(function () {
        $('#table1').DataTable({ "bDestroy": "true", "scrollY": "500px", "lengthMenu": [[-1], ["All"]], "sDom": "tr" });

        $('#StoreId').change(function (event) {


     
                $('#filterform').submit();

        });

    });


    $(function () {
       

        $("#startdate").datepicker({
            showOn: "button",
            buttonImage: "/Content/calendar_small.gif",
            buttonImageOnly: true,
            buttonText: "Select date",
            autoclose: true
        });


        $("#enddate").datepicker({
            showOn: "button",
            buttonImage: "/Content/calendar_small.gif",
            buttonImageOnly: true,
            buttonText: "Select date",
            autoclose: true
        });

    })
</script>

<ul class="breadcrumb">
    <li><a href="\Home">Home</a></li>
    <li class="active">Commission</li>
</ul>


<h2>Commission</h2>

@{
    decimal total = 0;
    decimal commission = 0;
    string tech = "";
    decimal tip = 0;
    decimal tiptotal = 0;
}


<p>
    @using (Html.BeginForm("Index", "Commission", FormMethod.Post, new { id="filterform"}))
    {



        <div class="row">
            <div class="col-sm-2 ">
                <div class="input-group">
                    <span class="input-group-addon">Store:</span>
                    @Html.DropDownList("StoreId", (IEnumerable<SelectListItem>)ViewBag.Stores, htmlAttributes: new { @class = "form-control" })
                </div>


            </div>
            <div class="col-sm-2 ">
                <div class="input-group">
                    <span class="input-group-addon">Employee:</span>
                    @Html.DropDownList("EmployeeId", (IEnumerable<SelectListItem>)ViewBag.Employees, htmlAttributes: new { @class = "form-control" })
                </div>


            </div>
            <div class="col-sm-3 ">
                <div class="input-group">
                    <span class="input-group-addon">Start Date:</span>
                    @Html.TextBox("startdate", (string)ViewBag.startdate, new { @class = "form-control", placeholder = "MM/DD/YYYY" })
                </div>


            </div>
            <div class="col-sm-3 ">
                <div class="input-group">
                    <span class="input-group-addon">End Date:</span>
                    @Html.TextBox("enddate", (string)ViewBag.enddate, new { @class = "form-control", placeholder = "MM/DD/YYYY" })
                </div>


            </div>

            <div class="col-sm-1">
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-primary" name="action" value="save" id="action" data-toggle="tooltip" data-placement="right" title="Refresh Data">Refresh</button>
                    </div>
                </div>
            </div>

        </div>




    }

</p>


<table class="display" id="table1" width="100%">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.ticketno)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.saledate)
            </th>

            <th>
                Total
            </th>
       
            <th>
                Commission
            </th>
            <th>
               Tip
            </th>
  
            <th>
                @Html.DisplayNameFor(model => model.note)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.status)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.stationno)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            total += (decimal)item.total;
            commission += (decimal)item.Commission;
            tech = "";
            tip = (item.TipTotal == null)?0:(decimal) item.TipTotal;
            tiptotal += tip;

            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.ticketno)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.saledate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.total)
                </td>
          

                <td>
                    @Html.DisplayFor(modelItem => item.Commission)
                </td>
          
                <td>
                    @(tip)
                </td>
       
                <td>
                    @Html.DisplayFor(modelItem => item.note)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.stationno)
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", "Sales", new { id = item.id }, new { @class = "btn btn-success", target = "popup", onclick = "window.open('../Sales/Details?id=" + item.id + "','popup','width=1000,height=1000'); return false;" })

                </td>
            </tr>
        }

    </tbody>







    <tfoot>
        <tr>

            <td>
                &nbsp;
            </td>

            <td>
                &nbsp;
            </td>
            <td>
                @(total)
            </td>
        

            <td>
                @(commission)
            </td>
            <td>
                @(tiptotal)
            </td>

            <td>
                &nbsp;
            </td>
            <td>
                &nbsp;
            </td>
            <td>
                &nbsp;
            </td>
            <td>
                &nbsp;
            </td>
        </tr>
    </tfoot>


</table>
