@model WebAccess.Models.SystemMessage

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type='text/javascript'>
    $(function () {
        $('.date-picker').datepicker();
    })
</script>

<ul class="breadcrumb">
    <li><a href="\Home">Home</a></li>
    <li class="active">System Announcements</li>
</ul>

<h3>Edit</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
           <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Message, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Message, new { @class = "form-control", cols = 100, rows = 10 })
                @Html.ValidationMessageFor(model => model.Message, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.MsgType, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.MsgType, (IEnumerable<SelectListItem>)ViewBag.AlertType, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MsgType, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @if (Model.StartDate != null)
                {
                    <input readonly="readonly" class="form-control  date-picker text-box single-line" data-val="true" data-val-date="The field StartDate must be a date." id="StartDate" name="StartDate" type="datetime" value="@Model.StartDate.Value.ToShortDateString()" />
                }
                else
                {
                    <input class="form-control date-picker text-box single-line" data-val="true" data-val-date="The field EndDate must be a date." id="StartDate" name="StartDate" type="datetime" value="" />
                }

                @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @if (Model.EndDate != null)
                {
                    <input readonly="readonly" class="form-control  date-picker text-box single-line" data-val="true" data-val-date="The field EndDate must be a date." id="EndDate" name="EndDate" type="datetime" value="@Model.EndDate.Value.ToShortDateString()" />
                }
                else
                {
                    <input class="form-control date-picker text-box single-line" data-val="true" data-val-date="The field EndDate must be a date." id="EndDate" name="EndDate" type="datetime" value="" />
                }
                @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Active, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Active)
                    @Html.ValidationMessageFor(model => model.Active, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
