@model IEnumerable<WebAccess.Models.SysSetting>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Item)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Value1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Value2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Value3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Value4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description5)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Value5)
        </th>
 
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Item)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Value1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Value2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Value3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Value4)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description5)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Value5)
        </td>
     
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
